.chatbot {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 3rem 5rem;
}

.chat-window {
    width: 100%;
    height: 400px;
    max-height: 400px;
    overflow-y: auto;
    border: #ccc;
    padding: 10px;
    background-color: var(--secondary-background-color);
    margin-bottom: 10px;
    scroll-behavior: smooth;
}

.message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
}

.message.user {
    background-color: #cddaf1;
    margin-left: auto;
    text-align: right;
}

.message.bot {
    background-color: #ebebeb;
}

.input-section {
    display: flex;
    width: 100%;
}

.input-section input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-section button {
    padding: 8px 16px;
    border-radius: 5px;
    background-color: var(--button-background-color);
    color: white;
    border: none;
}